doctype 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Dating app for nearby singles looking for only recent content')
    meta(name='robots', content='noarchive')
    title Cleggs
  body
    block content